{% extends "index.html" %} <!-- mengambil semua konten dari "index.html" -->

{% block content %} <!-- blok yang dapat diisi atau ditimpa oleh template turunan. -->
    <header>
        <h1>Checkout</h1>
    </header>
    <main class="posisi-input">
        <form class="checkout" action="/">
            <div class="container">
                <h1>QUITANSI</h1>
                
                <div class="info">
                    <p><strong>Nama : </strong>{{ data.nama }}</p>
                    <p><strong>Alamat : </strong>{{ data.alamat }}</p>
                    <p><strong>Jumlah : </strong>{{ data.jumlah }}</p>
                    <p><strong>Harga : </strong>{{ data.harga }}</p>
                    <p><strong>Tanggal : </strong>{{ data.tanggal }}</p>
                    <p><strong>Produk : </strong>{{ data.produk }}</p>
                    <p><strong>Total Harga : </strong>{{ data.total }}</p>
                    <p><strong>Keterangan : </strong>{{ data.keterangan }}</p>
                    <p><strong>Pembayaran : </strong>{{ data.pembayaran }}</p>
                </div>
                <div class="signature">
                    <p>Transfer Ke Barcode dibawah ini:</p>
                    <div class:"line"></div>
                </div>
                <button type="submit">kembali</button>        
            </div>
        </form>
    </main>
{% endblock %}