<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Online</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif%}
    {% endwith%}
    <div class="admin">
        <h2>Stored Crodentials</h2>
        <a href="{{ url_for('logout') }}">Back to Login</a>
        <table>
            <tr>
                <th>No</th>
                <th>Email</th>
                <th>Password</th>
                <th>Nama</th>
            </tr>
            {% for credetails in users %}
                <tr>
                    <td>{{ credetails.id }}</td>
                    <td>{{ credetails.email }}</td>
                    <td>{{ credetails.password }}</td>
                    <td>{{ credetails.username }}</td>
                </tr>
            {% endfor%}
        </table>
        <table>
            <tr>
                <th>No</th>
                <th>nama</th>
                <th>alamat</th>
                <th>jumlah</th>
                <th>harga</th>
                <th>tanggal</th>
                <th>keterngan</th>
                <th>pembayaran</th>
                <th>produk</th>
                <th>total</th>
            </tr>
            {% for product in product %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.nama }}</td>
                    <td>{{ product.alamat }}</td>
                    <td>{{ product.jumlah }}</td>
                    <td>{{ product.harga }}</td>
                    <td>{{ product.tanggal }}</td>
                    <td>{{ product.keterngan }}</td>
                    <td>{{ product.pembayaran }}</td>
                    <td>{{ product.produk }}</td>
                    <td>{{ product.total }}</td>
                </tr>
            {% endfor%}
        </table>
    </div>
</body>
</html>