body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header{
    background-color: #4caf50;
    color: wheat;
    padding: 20px 0;
    text-align: center;
    }

.tengah{text-align: center;}

.z1{z-index: 1;}
.z2{z-index: 2;}

header form{margin-top: 2px;}

header p, header h1{color: beige;}

/* untuk pencarian */
header input{
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* untuk tombol pencarian */
header button{
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #4CAF50;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover{background-color: #f1f1f1;}

main{padding: 20px;}

/* ~~~ category ~~~ */
.icon-menu{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff;
    overflow-x: auto;
}

.icon-item{
    text-align: inherit;
    width: auto;
    margin: 0 10px;
}

.icon-item img, .icon-item video{
    width: 300px;
    height: 300px;
}

.icon-item p{
    margin: 5px 0 0;
    font-size: 12px;
    color: #333333;
}
/* ~~~ endcategory ~~~ */

/* ~~~ quitansi ~~~ */
.container{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0,1);
    max-width: 600px;
    margin: auto;
}

.container h1{
    text-align: center;
    color: #333;
}

label{
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, .opsi select{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea{
    resize: vertical;
}

/*  */
.posisi-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

.checkout h1{
    margin-bottom: 20px;
    color: #333333;    
}

.checkout .input{
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.checkout .button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.checkout .button:hover{
    background-color: #218838;
}
/* end */

/* animasi login */
.body{
    background-color: #333;
}
.form {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
}

.card {border-radius: 22px;}

.heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form, .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    width: 100%;
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: rgba(15, 149, 36, 0.573);
    color: white;
}

.login-img{
    background-size: cover;
}
/* endanimasi*/

.info{
    margin: 20px 0;
}

.info p{
    font-size: 16px;
    line-height: 1.5;
}

.signature{
    margin-top: 40px;
}

.line{
    border-top: 1px solid #000;
    width: 200px;
    margin-top: 10px;
    margin-left: 0;
}
/* ~~~ endquitansi ~~~ */

.catagories, .flash-shale{margin-bottom: 30px;}

/* untuk urutan dan ukuran produk */
.product{
    display: inline-block;
    background-color: white;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0,1);
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.product img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border-bottom: 1px solid #ddd;
}
.description{
    text-align: justify;
}

.harga{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
    bottom: 0;
    width: 100%;
}
/* berada dibagian bawah layar */
.posisi{position: fixed;}
/*  */

/* deskripsi produk */
nav ul{
    table-layout: fixed;
    background-color: #4caf50;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 40px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover{
    color: rgb(226, 255, 59);
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 700px;
}

.products h2{
    font-size: 1.5em;
    margin: 10px 0;
}

.products p{
    color: #666666;
}
/* end deskripsi produk */

/* animasi tombol beli */
.buy{
    width: 80%;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    margin: 0 10%;
    float: left;
    text-decoration: none;/* menghilangkan garis bawah pada link */
}

/* animasi membesar saat ditekan/ditunjuk */
.buy:hover {
    transition: all 0.5s;
    font-size: 20px;
    font-weight: bold;
    background-color: #218838;
}